* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
    color: #000000;
    line-height: 1.6;
    /*overflow: hidden;*/
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*------------------- Header ------------------ */

header {
    background: rgba(1, 14, 66, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    /* color: linear-gradient(to right, #64e764, #00bfff); */
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #64e764;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.nav-links a:hover {
    color: #e71313;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #e71313;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.mobile-menu {
    display: none;
    color: white;
    cursor: pointer;
}

.cta-button {
    background: #e71313;
    color: white;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.3 ease;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.9);
}

.cta-button:hover {
    background: transparent;
    color: #64e764;
    border: 2px solid #e71313;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(231, 19, 19, 0.5);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.nav-mobile.active {
    display: block;
}

.nav-mobile a {
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid #e2e8fe;
    color: var(--dark);
    text-decoration: none;
}

/* les bloc des div dans les section*/
.stat-card {
    padding: 2rem;
    /* Pas de marge du bas pour éviter de casser la grille */
    margin: 0;
}

/* Le conteneur grille qui prend toute la hauteur de l'écran 
background: rgba(159, 180, 220, 0.788);*/
.stats-grid {
    background: rgba(38, 74, 141, 0.788);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    align-items: center;

    /* Hauteur pleine écran avant scroll */
    min-height: 100vh;
    min-height: 100dvh;
    box-sizing: border-box;
    padding: 2rem;
}

/*ecriture utilise dans hero */
.sous_titre2 {
    font-size: 1.3rem;
    margin: 0 0 0.5rem 0;
    font-weight: 300;
    opacity: 1;
}

/*bouton dans hero*/
.cta-button2 {
    background: #e71313;
    color: white;
    text-transform: uppercase;
    padding: 16px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.3 ease;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.9);
    margin: 2rem;
}

/*------------------- À Propos Section ------------------ */

.apropos {
    padding: 100px 0;
    background: #e6e6bb;
}

.apropos-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.apropos-card img {
    width: 100%;
    max-height: 570px;
    border-radius: 20px 0 0 20px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.apropos-card-texte {
    background: rgba(1, 14, 66, 0.95);
    width: 100%;
    padding: 2.5rem 6rem;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid transparent;
}

.apropos-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.titre-section {
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin-bottom: 3rem;
    color: #e71313;
    position: relative;
}

.apropos-paragraph1 {
    text-align: justify;
    font-size: 1.2rem;
    color: #e71313;
    margin-bottom: 1rem;
}

.apropos-paragraph2 {
    text-align: justify;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1rem;
}



/*-------------------------- Section Action ---------------------------*/

/* Section globale */
.action {
    background: rgba(38, 74, 141, 0.788);
}

/* Titre principal H2 */
.titre-actions {
    color: var(--couleur-rouge);
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    padding: 3.5rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Conteneur des 3 boîtes */
.boite-enveloppe {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Structure de chaque grande boîte */
.boite-contenu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #1a103c;
    /* Bleu-violet plus sombre pour contraster le fond */
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Image à gauche */
.boite-media {
    width: 100%;
    height: 100%;
}


.boite-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.contenu-boite-rouge,
.contenu-boite-vert {
    padding: 2.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.contenu-boite-jaune {
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

/* Alignement du petit logo + H3 */
.entete-boite {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.entete-boite-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
    flex-shrink: 0;
}


.boite-rouge .titre1,
.boite-jaune .titre2,
.boite-vert .titre3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}


/* Paragraphes */
.boite-body p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.boite-body p:last-child {
    margin-bottom: 0;
}

.texte-blanc {
    color: var(--couleur-blanc);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 24px;
}

/* Styles des boutons par défaut */
.boite-actions {
    display: flex;
    justify-content: flex-start;
}

.boite-btn {
    padding: 8px 34px;
    background-color: transparent;
    color: var(--couleur-rouge);
    border: 2px solid var(--couleur-rouge);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 30px;
    transition: all 0.3s ease;
}

/* ===================================================
   GESTION DES COULEURS ET DES SURVOLES PAR BOÎTE
   =================================================== */

/* Boîte 1 : ROUGE */

.titre1 {
    color: var(--couleur-rouge);
}

.boite-rouge .priemier-texte-colore {
    color: var(--couleur-rouge);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 30px;
}

.boite-rouge .boite-btn:hover {
    background-color: var(--couleur-rouge);
    color: #1a103c;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3 ease;
}

/* Boîte 2 : JAUNE */
.titre2 {
    color: var(--couleur-jaune);
}

.boite-jaune .priemier-texte-colore {
    color: var(--couleur-jaune);
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 30px;
}

.boite-jaune .boite-btn:hover {
    background-color: var(--couleur-jaune);
    border-color: var(--couleur-jaune);
    color: #1a103c;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3 ease;
}

/* Boîte 3 : VERTE */
.boite-vert {
    margin-bottom: 3rem;
}

.titre3 {
    color: var(--couleur-vert);
}

.boite-vert .priemier-texte-colore {
    color: var(--couleur-vert);
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: 600;

}

.boite-vert .boite-btn:hover {
    background-color: var(--couleur-vert);
    border: 2px solid var(--couleur-vert);
    color: #1a103c;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3 ease;
}


/*-------------------------- Section Testimonial ---------------------------*/


/*fait monter le bloc de 5px grace au translateY*/
.testimonials::-webkit-scrollbar {
    display: none;
}

.testimonial-card {
    flex: 0 0 calc(50% - 1rem);
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
    scroll-snap-align: start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(102, 126, 234, 0.2);
}

/*le contenant qui va pertmettrre de metrre des bloc sur horizontal*/
.testimonial-grid {
    display: flex;
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
    height: 550px;
    margin: 0 auto;
    padding: 7rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.testimonial_backround {
    padding: 100px 0;
    background: rgba(38, 141, 114, 0.788);
}

.sous_titre_italic2 {
    font-size: 1.2rem;
    margin: 0;
    opacity: 0.85;
    font-style: italic;
}

/**************************************/