<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script type="text/js" src="/static/js/script.js" defer></script>
    <title>Base du projet MEJCL</title>
</head>
<body>
    {%include 'header.html'%}

    <div id="div-central">
        <main>
            {% block main_content %}{% endblock %}
        </main>
    </div>
    {% include 'booking.html' %}
    
    {% include 'footer.html' %}
</body>
</html>
