<!-- Blog Section -->
<section class="blog" id="blog">
  <div class="blog" id="blog">
	<div class="container">
	  <h2 class="section-title">Des Aventures & Des Tips</h2>
	  <div class="blog-grid">
		<div class="blog-card">
		  <div class="blog-image">
			<img src="Images/Mwandzaza img.jpeg" alt="blog-image" />
		  </div>

		  <div class="blog-content">
			<div class="blog-meta">
			  <span><i class="fas fa-calendar"></i>10 mai 2026</span>
			  <span><i class="fas fa-user"></i>Mwenkeza ndzia</span>
			</div>

			<h3 class="blog-title">
			  Les astuces et l'entraînement nécessaires du camp de base de
			  Konkoni
			</h3>
			<p class="blog-expert">
			  Les randonneurs se prépares plusieurs jours pour la randonnée
			  sur le camp de base de Konkoni. Ils passent deux ou trois
			  jours avec un guide "Mwenkeza ndzia" afin d'être prêt le jour
			  de la rando. Les guides sont sympas et très compréhensifs. Ils
			  vous donnent les meilleurs astuces pour une randonné très
			  réussie. ...
			</p>
			<a href="" class="blog-link"
			  >Savoir Plus<i class="fas fa-arrow-right"></i
			></a>
		  </div>
		</div>

		<div class="blog-card">
		  <div class="blog-image">
			<img src="Images/Mwandzaza img.jpeg" alt="blog-image" />
		  </div>

		  <div class="blog-content">
			<div class="blog-meta">
			  <span><i class="fas fa-calendar"></i>10 mai 2026</span>
			  <span><i class="fas fa-user"></i>Mwenkeza ndzia</span>
			</div>

			<h3 class="blog-title">
			  Les astuces et l'entraînement nécessaires du camp de base
			  d'Itsanga Shema
			</h3>
			<p class="blog-expert">
			  Les randonneurs se prépares plusieurs jours pour la randonnée
			  sur le camp de base d'Itsanga Shema. Ils passent deux ou trois
			  jours avec un guide "Mwenkeza ndzia" afin d'être prêt le jour
			  de la rando. Les guides sont sympas et très compréhensifs. Ils
			  vous donnent les meilleurs astuces pour une randonné très
			  réussie. ...
			</p>
			<a href="" class="blog-link"
			  >Savoir Plus<i class="fas fa-arrow-right"></i
			></a>
		  </div>
		</div>

		<div class="blog-card">
		  <div class="blog-image">
			<img src="Images/Mwandzaza img.jpeg" alt="blog-image" />
		  </div>

		  <div class="blog-content">
			<div class="blog-meta">
			  <span><i class="fas fa-calendar"></i>10 mai 2026</span>
			  <span><i class="fas fa-user"></i>Mwenkeza ndzia</span>
			</div>

			<h3 class="blog-title">
			  Les astuces et l'entraînement nécessaires du camp de base de
			  Ngutsini
			</h3>
			<p class="blog-expert">
			  Les randonneurs se prépares plusieurs jours pour la randonnée
			  sur le camp de base de Ngutsini. Ils passent deux ou trois
			  jours avec un guide "Mwenkeza ndzia" afin d'être prêt le jour
			  de la rando. Les guides sont sympas et très compréhensifs. Ils
			  vous donnent les meilleurs astuces pour une randonné très
			  réussie. ...
			</p>
			<a href="" class="blog-link"
			  >Savoir Plus<i class="fas fa-arrow-right"></i
			></a>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>
