<!-- Features Section -->
    <section class="features" id="features">
      <div class="features-content">
        <h2 class="section-title">
          Pourquoi choisir d'aller s'aventurer à Konkoni ?
        </h2>
        <div class="features-grid">
          <div class="feature-card">
            <i class="fas fa-mountain feature-icon"></i>
            <h3>Wandru-waduhazi, des guides d'expérience</h3>
            <p>
              Nos guides, Wandru-waduhazi, connaissent tous les recoins et ont
              des années d'expérience de Konkoni. Ils assurent votre sécurité et
              rendent la réussite de vos expeditons irratables.
            </p>
          </div>
          <div class="feature-card">
            <i class="fas fa-shield-alt feature-icon"></i>
            <h3>La sécurité est primordiale</h3>
            <p>
              Nous priorisons votre sécurité avec tous les équipements
              nécessaires, l'entraînement qu'il faut et nous avons mis en place
              des protocoles de sécurités pour les randonnées en montagne.
            </p>
          </div>
          <div class="feature-card">
            <i class="fas fa-gem feature-icon"></i>
            <h3>Experience Premium</h3>
            <p>
              From luxury base camps to boat transfers, we ementies that make
              your Konkoni journey confortables and unforgattable.
            </p>
          </div>
        </div>
      </div>
    </section>
