<footer id="contact">
      <div class="container">
        <div class="footer-content">
          <div class="footer-section">
            <h3>Les Aventures de Konkoni</h3>
            <p>
              Votre porte d'entrée vers ce majestueux paysage à Mwandzaza.
              Depuis plus de 5 ans, nous organisons des aventures sur les plus
              beaux sites de l'île de Ngazidja avec une expertise et une
              sécurité inégalées.
            </p>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-tiktok"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>

          <div class="footer-section">
            <h3>Les Aventures les plus populaires</h3>
            <ul>
              <li><a href="#">Camp de base de randonnée à Konkoni </a></li>
              <li><a href="#">Circuit du Ngutsini</a></li>
              <li><a href="#">Tour en bateau à Konkoni</a></li>
              <li><a href="#">Balade à Itsanga Shema</a></li>
              <li><a href="#">Circuit à la plage de Konkoni</a></li>
              <li><a href="#">La Randonné du Djongoni</a></li>
            </ul>
          </div>

          <div class="footer-section">
            <h3>Les liens</h3>

            <ul>
              <li><a href="#home">Acueil</a></li>
              <li><a href="#packages">Nos Offres</a></li>
              <li><a href="#blog">Destinations</a></li>
              <li><a href="#testimonials">Témoignages</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>

          <div class="footer-section">
            <h3>Contact info</h3>

            <ul class="contact-info">
              <p>
                <i class="fas fa-map-marker-alt"></i> Mwandzaza Mbwani,
                Ngazidja, Comores
              </p>
              <p><i class="fas fa-phone"></i> +269 347 33 79</p>
              <p><i class="fas fa-envelope"></i> konkonijourney@gmail.com</p>
              <p><i class="fas fa-clock"></i> Assistance d'urgence 24/7</p>
            </ul>
          </div>
        </div>

        <div class="footer-bottom">
          <p>
            &copy; 2026 Konkoni Aventures. All right reserved. | Licenced by
            Mwandzaza Tourism Board | Reg. N°. 12345/067/068
          </p>
        </div>
      </div>
</footer>
