<header>
      <nav>
        <div class="logo"></div>

        <ul class="nav-links">
          <li><a href="#home"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#testimonials"></a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

        <div class="mobile-menu">
          <i class="fas fa-bars"></i>
        </div>

        <a href="#" class="cta-button" onclick="openBookingPopup()"></a>
      </nav>
      <!-- Mobile Navigation -->
      <div class="nav-mobile">
        <a href="#home">Acueil</a>
        <a href="#packages">Nos Offres</a>
        <a href="#blog">Destinations</a>
        <a href="#testimonials">Témoignages</a>
        <a href="#contact">Contact</a>
      </div>
</header>
