<!-- Packages Sections -->
    <section class="packages" id="packages">
      <div class="container">
        <h2 class="section-title">Les Offres de l'Aventures</h2>
        <div class="packages-grid">
          <div class="package-card">
            <div class="package-bagde">Populaire</div>
            <div class="package-image">
              <img
                src="Images/WhatsApp Image 2026-05-08 at 23.51.55.jpeg"
                alt="Nkonkoni Travels"
              />
            </div>
            <div class="package-content">
              <div class="package-price">2000 KMF</div>
              <div class="package-title">Camp de base de Konkoni</div>
              <ul class="package-features">
                <li>
                  <i class="fas fa-check"></i>14 jours de guides pour la
                  randonnée
                </li>
                <li><i class="fas fa-check"></i>Tous repas inclus</li>
                <li>
                  <i class="fas fa-check"></i>Des Conducteurs profesionnels
                </li>
                <li><i class="fas fa-check"></i>Experiences de luxe</li>
              </ul>
              <button
                class="package-btn"
                onclick="openBookingPopup('Nkonkoni Boat Tour')"
              >
                Réservez cette offre
              </button>
            </div>
          </div>
          <div class="package-card">
            <div class="package-bagde">Populaire</div>
            <div class="package-image">
              <img
                src="Images/WhatsApp Image 2026-05-08 at 23.51.55.jpeg"
                alt="Nkonkoni Travels"
              />
            </div>
            <div class="package-content">
              <div class="package-price">2000 KMF</div>
              <div class="package-title">Camp de base d'Itsanga Shema</div>
              <ul class="package-features">
                <li>
                  <i class="fas fa-check"></i>14 jours de guides pour la
                  randonnée
                </li>
                <li><i class="fas fa-check"></i>Tous repas inclus</li>
                <li>
                  <i class="fas fa-check"></i>Des Conducteurs profesionnels
                </li>
                <li><i class="fas fa-check"></i>Exériences luxieuses</li>
              </ul>
              <button
                class="package-btn"
                onclick="openBookingPopup('Nkonkoni Boat Tour')"
              >
                Réservez cette offre
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
