<!-- Testimonials Section -->
    <section class="testimonials" id="testimonials">
      <div class="container">
        <h2 class="section-title">Qu'est-ce nos Aventures racontent ?</h2>
        <div class="testimonials-grid">
          <div class="testimonial-card">
            <div class="testimonial-text">
              "Le trek du camp de base de Konkoni était absolument incroyable
              (...) les guides étaient incroyablement compétents et (...) à
              chaque étape du parcours. (...) les vues étaient au-delà de tout
              ce que j'aurais pu imaginer."
            </div>
            <div class="textimonial-author">
              <img
                src="Images/Gemini_Generated_Image_e21krge21krge21k.png"
                alt="Codymn "
                class="author-avatar"
              />
              <div class="author-info">
                <h4>Jhon Smith</h4>
                <p>Photographe, USA</p>
              </div>

              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="testimonial-text">
              "Le trek du camp de base de Konkoni était absolument incroyable
              (...) les guides étaient incroyablement compétents et (...) à
              chaque étape du parcours. (...) les vues étaient au-delà de tout
              ce que j'aurais pu imaginer."
            </div>
            <div class="textimonial-author">
              <img
                src="Images/Gemini_Generated_Image_e21krge21krge21k.png"
                alt="Codymn "
                class="author-avatar"
              />
              <div class="author-info">
                <h4>Jhon Smith</h4>
                <p>Photographe, USA</p>
              </div>

              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="testimonial-text">
              "Le trek du camp de base de Konkoni était absolument incroyable
              (...) les guides étaient incroyablement compétents et (...) à
              chaque étape du parcours. (...) les vues étaient au-delà de tout
              ce que j'aurais pu imaginer."
            </div>
            <div class="textimonial-author">
              <img
                src="Images/Gemini_Generated_Image_e21krge21krge21k.png"
                alt="Codymn "
                class="author-avatar"
              />
              <div class="author-info">
                <h4>Jhon Smith</h4>
                <p>Photographe, USA</p>
              </div>

              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
